apiVersion: v1
kind: Pod
metadata:
  name: bootstrapper
  namespace: lsfs
  labels:
    lsfs: bootstrapper
spec:
  containers:
  - name: bootstrapper-container
    image: brancc0cdocker/lsfs-bootstrapper
    command: ["./build/bootstrapper_exe"]
    args: ["/shared_dir/conf.yaml"]
    volumeMounts:
    - mountPath: /shared_dir
      name: mount-volume
  volumes:
  - hostPath:
      path: {{ mount_dir }}
    name: mount-volume
  ports: 
    - containerPort: 12345
  nodeName: cloud112
