apiVersion: v1
kind: Pod
metadata:
  name: client
  namespace: lsfs
spec:
  containers:
  - name: client-container
    image: lsfsusertemp/lsfs-testing:client
    command: ["/bin/sh", "-c"]
    args: ["sleep {{ delay }}; build/./lsfs_exe {{ bootstrapper_ip }} {{ client_id }} scripts/conf.yaml /P2P-Filesystem/Teste/InnerFolder/ /P2P-Filesystem/Teste/InnerFolder2/"]
    securityContext:
      privileged: true
