apiVersion: v1
kind: Pod
metadata:
  name: "peer{{ item.0 }}"
  namespace: lsfs
spec:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: lsfs-component
            operator: In
            values:
            - "peer{{ item.0 }}"
            - node
  containers:
  - name: peer-container
    image: lsfsusertemp/lsfs-testing:peer_debug_message
    command: ["/bin/sh", "-c"]
    args: ["rm -r /share-dir/levelDB/*; ./build/peer_exe {{ item.0 }} {{ item.1.replace(',', '.') }} /share-dir/conf.yaml {{ bootstrapper_ip }} --no-recover"]
    ports:
    - containerPort: 10250
    volumeMounts:
    - mountPath: /share-dir
      name: peer-volume
  volumes:
  - hostPath:
      path: "{{ share_dir_path }}"
    name: peer-volume