apiVersion: v1
kind: Pod
metadata:
  name: client
  namespace: lsfs
spec:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: lsfs-component
            operator: In
            values:
            - client
            - node
  containers:
  - name: client-container
#    image: lsfsusertemp/lsfs-testing:client_debug
    image: lsfsusertemp/lsfs-testing:client_debug_message
#    image: lsfsusertemp/lsfs-testing:client_no_recover
    command: ["/bin/sh", "-c"]
#    args: ["sleep infinity"]
    args: ["build/./lsfs_exe {{ bootstrapper_ip }} {{ client_id }} /share-dir/conf.yaml /lsfs-mount/mount /lsfs-mount/backend"]
    volumeMounts:
    - mountPath: /lsfs-mount
      name: mount-volume
      mountPropagation: Bidirectional
    - mountPath: /share-dir
      name: share-dir
    securityContext:
      privileged: true
  volumes:
  - hostPath:
      path: {{ volume_mount }}
    name: mount-volume
  - hostPath:
      path: "{{ share_dir_path }}"
    name: share-dir
#  nodeSelector:
#    lsfs-component: client #node

