apiVersion: v1
kind: Pod
metadata:
  name: "client{{ item }}"
  namespace: lsfs
  labels:
    lsfs: client
spec:
  containers:
  - name: client-container
    image: brancc0cdocker/lsfs-client
    command: ["./build/lsfs_exe"]
    args: ["{{ bootstrapper_ip }}", "{{ item }}", "/shared_dir/conf.yaml", "client{{ item }}", "/test_filesystem/InnerFolder", "/test_filesystem/InnerFolder2"]
    securityContext:                                                                                      
      privileged: true
    volumeMounts:
    - mountPath: /shared_dir
      name: mount-volume
      mountPropagation: Bidirectional
  volumes:
  - hostPath:
      path: {{ mount_dir }}
    name: mount-volume
  ports: 
    - containerPort: 12357
    - containerPort: 12358
  nodeName: cloud112
